---
import Clue from "../components/Clue";
import Starter from "../components/Starter";
import BaseLayout from "../layouts/BaseLayout.astro";
import Controller from '../components/Controller'
---

<BaseLayout>
  <main>
    <section id="up"></section>
    <div>
      <Starter client:only />
      <Clue client:only />
    </div>
    <section id="down">
      <Controller client:only/>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #up, #down {
    flex: auto;
    display: flex;
  }
  #down {
    align-items: end;
    justify-content: end;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
