<div id="container">
  <div id="main-logo">
    <img src="/favicon.png" alt="Logo" />
    <span>Adivina La Palabra</span>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',() => {
        setTimeout(() => {
        document.querySelector('#container')?.classList.toggle('disabled')
        }, 4000);
    })
</script>
<style>
    .disabled {
        opacity: 0 !important;
        display: none !important;
    }
  #container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--background-color-dark);
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    transition: display .7s, opacity .4s;
    transition-behavior: allow-discrete;
  }
  #main-logo {
    margin: 0.2em;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    animation: open_eyes .5s;
  }
  #main-logo img {
    aspect-ratio: 1/1;
    width: 3em;
  }
  #main-logo span {
    color:var(--font-color-on-dark);
    font-family: var(--font-inter);
    font-weight: 600;
  }
  @keyframes open_eyes {
    0% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
  }
</style>
