---
import { Icon } from "astro-icon/components";
---

<div id="container">
  <img src="/favicon.png" alt="Logo" />
  <Icon name="mdi:loading" id="loading" size={30} />
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      document.querySelector("#container")?.classList.toggle("disabled");
    }, 4000);
  });
</script>
<style>
  .disabled {
    opacity: 0 !important;
    display: none !important;
  }
  #container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    opacity: 1;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    transition:
      display 0.7s,
      opacity 0.4s;
    transition-behavior: allow-discrete;
  }

  img {
    animation: open_eyes 1s;
    aspect-ratio: 1/1;
    width: 10em;
  }
  @keyframes open_eyes {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  #loading {
    color: var(--color-background-light);
    position: relative;
    animation: loading_animation 1s linear infinite;
    top: 5em;
  }
  @keyframes loading_animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
</style>
