#access-button {
    padding: .5em .7em;
    cursor: pointer;
    border: 0px;
    border-radius: .2em;
    background-color: var(--color-primary-100);
    opacity:.9;
    transition: opacity .2s;
}
#access-button:hover {
    opacity:1
}